// Add your own CSS here!
:root {
  --light: #f6f6f6;
  --dark: #262626;
  --secondary: #5B8E7D ;
  --tertiary: #85bdaa;
  --headline:#2C6351;
  --visited: #afbfc9;
  --primary: #f8c808;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
}

[saved-theme="dark"] {
  --light: #1e1e21 !important;
  --dark: #fbfffe !important;
  --secondary: #5B8E7D !important;
  --visited: #4a575e !important;
  --tertiary: #aee2d5 !important;
  --headline:#2C6351;
  --primary: #f8c808 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
}

header>h1{
  background: linear-gradient(to right, var(--headline) , var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

::selection {
  background: var(--primary);
}

h2{
  padding-top: 10px;
}
h3, h4, h5{
  padding-top: 8px;
}
article-head > h1 {
  font-size: 2em;

}

// h1>a{
//   font-size: 0.7em;
// }

// ==== 页面宽度 ====

// 导航栏
.singlePage {
  padding: 2em 2vw;

}

// ==== 文章头部 ====
article-head{
  padding: 4em 0vw;
  text-align: center;

  @media all and (max-width: 1200px) {
    padding: 25px 2vw;
  }
}

// ==== 文章本体 ====
article{
  padding: 4em 24vw;
  padding-top: 0;

  @media all and (max-width: 1200px) {
    padding: 3px 5vw;
  }
}


article {
  & > .meta {
    margin: -1.5em 0 1em 0;
    opacity: 0.7;
  }

  & > .tags {
    list-style: none;
    padding-left: 0;

    & .meta {
      & > h1 {
        margin: 0;
      }
      & > p {
        margin: 0;
      }
    }

    & > li {
      display: inline-block;
    }
    // 标签
    & > li > a {
      border-radius: 8px;
      border: var(--outlinegray) 1px solid;
      padding: 0.2em 0.5em;

      // 外围圈
      &::before {
        content: "#";
        margin-right: 0.3em;
        color: var(--outlinegray);
      }
    }
  }

  & a {
    font-family: Source Sans Pro;
    font-weight: 600;

    &.internal-link {
      text-decoration: none;
      background-color: transparentize(#8fa991, 0.95);
      padding: 0 0.1em;
      margin: auto -0.1em;
      border-radius: 3px;
    }
  }
}

.mainTOC {
  margin-block-end: 30px;
}



// 图片
img {
  width: auto;
  max-width: 100%;
}

// 图片居中
// img{
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
// }



// ==== 自定义功能 ====

#myBtn {
  // display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--secondary); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 7px 11px 7px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: var(--tertiary); /* Add a dark-grey background on hover */
}